main {
  text-align: center;
}


  .login{
  /*
    background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
  */
  background: url('https://wallpaperaccess.com/full/1567784.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(103, 7, 7, 0.962); */
} 
